@font-face {
  font-family: "open_sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open-sans-v15-latin-regular.eot?") format("eot"), url("/fonts/open-sans-v15-latin-regular.woff2") format("woff2"), url("/fonts/open-sans-v15-latin-regular.woff") format("woff"), url("/fonts/open-sans-v15-latin-regular.ttf") format("truetype"), url("/fonts/open-sans-v15-latin-regular.svg#open_sans") format("svg"); }

@font-face {
  font-family: "open_sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/open-sans-v15-latin-600.eot?") format("eot"), url("/fonts/open-sans-v15-latin-600.woff2") format("woff2"), url("/fonts/open-sans-v15-latin-600.woff") format("woff"), url("/fonts/open-sans-v15-latin-600.ttf") format("truetype"), url("/fonts/open-sans-v15-latin-600.svg#open_sans") format("svg"); }

@font-face {
  font-family: "open_sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/open-sans-v15-latin-700.eot?") format("eot"), url("/fonts/open-sans-v15-latin-700.woff2") format("woff2"), url("/fonts/open-sans-v15-latin-700.woff") format("woff"), url("/fonts/open-sans-v15-latin-700.ttf") format("truetype"), url("/fonts/open-sans-v15-latin-700.svg#open_sans") format("svg"); }

main .background-header {
  background: url("/img/bg_main.jpg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat; }

main #mission {
  background: url("/img/2lay1.png");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat; }
