@import "_mixins";

// Fonts
@include font-face(abz, "/fonts/abeezee-regular-webfont", 400, normal, eot woff2 woff ttf svg);
@include font-face(abz, "/fonts/abeezee-italic-webfont", 400, italic, eot woff2 woff ttf svg);
@include font-face(k2d, "/fonts/k2d-bold-webfont", 700, normal, eot woff2 woff ttf svg);
@include font-face(k2d, "/fonts/k2d-semibold-webfont", 600, normal, eot woff2 woff ttf svg);
@include font-face(k2d, "/fonts/k2d-medium-webfont", 500, normal, eot woff2 woff ttf svg);
@include font-face(k2d, "/fonts/k2d-regular-webfont", 400, normal, eot woff2 woff ttf svg);
@include font-face(k2d, "/fonts/k2d-light-webfont", 300, normal, eot woff2 woff ttf svg);

$gut : 50px;
$html-fs : 15;
$h3: $html-fs * 1.133+px;
$green : #4da488;
$light-green : #94e3b8;
$turquoise : #15465b;

main {
    .container {
        max-width: 1265px;
    }

    // Fonts
    html,
    h1,
    h2,
    h3,
    h4,
    a,
    p {
        font-family: "k2d", Arial, sans-serif;
    }

    html {
        font-size: $html-fs+px;
    }

    h2 {
        line-height: 1.4;
    }

    h3 {
        font-size: $h3;
    }

    h3,
    p,
    a {
        color: $turquoise;
        font-weight: 500 !important;
    }

    .btn {
        border: 1px $turquoise solid;
        padding: 15px;
        line-height: $html-fs+px;
        font-size: $html-fs+px;
        text-transform: uppercase;

        &:hover {
            background-color: adjust-hue($color: $turquoise, $degrees: 0);
            color: white !important;
        }
    }

    >* {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }

    .navbar {
        display: flex;
        flex-flow: column;
        min-height: 133px;
        padding: 35px 0 0;

        .container {
            min-height: 133px;
        }

        .navbar-collapse {
            margin-bottom: none;

            .nav-item {
                .nav-link {
                    padding-left: 5px;
                    padding-right: 4px;
                }
            }
        }

        .navbar-brand {
            margin-top: 35px;
            justify-content: center;
            position: absolute;
            width: auto;
            top: 0;
            left: calc(50% - 56px);
            display: flex;
            align-items: center;
            max-height: 100%;
        }
    }

    .background-header {
        background: url("/img/bg_main.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        padding-top: 6.5vw;

        .header-text {
            margin-top: $gut * 2;

            h3 {
                /* Style for "Advensci" */
                color: #77caa5;
                font-size: 18px;
                font-weight: 500;
                line-height: 34px;
                /* Text style for "Advensci" */
                letter-spacing: 0.12px;
            }

            p {
                /* Style for "Une applic" */
                width: 513px;
                height: 117px;
                color: #16475d;
                font-size: 23px;
                font-weight: 500;
                line-height: 35px;
                text-transform: uppercase;
                /* Text style for "Une applic" */
                letter-spacing: 0.92px;
            }

            .header-rectangle {
                background-color: white;
                padding: 8%;
            }
        }

        .header-photo {
            img {
                margin-left: 22%;
                position: relative;
                top: $gut * 1.75;
            }
        }
    }

    #mission {
        margin-top: -15vw;
        background: url("/img/2lay1.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 100%;
        min-height: 34vw;
        padding: $gut;

        .row {
            height: 100%;
            padding: $gut 0;

            .participants {
                padding-top: 0;
                padding-bottom: 0;
            }

            .participants,
            .chercheurs {
                max-width: 455px;
            }

            .chercheurs {
                margin-left: auto;
                padding-top: $gut * 2;
                padding-bottom: 0;
            }
        }
    }

    #advantages {
        .container {
            &:first-child {
                margin: $gut * 1.8 auto;

                .row {
                    max-width: 850px;
                    margin: auto;

                    .title {
                        color: $green;
                        font-weight: 300;
                    }
                }
            }

            &:last-child {
                margin: $gut * 1.8 auto;

                .row {
                    max-width: 1049px;
                    margin: auto;
                }
            }
        }

        .text-advantage {
            padding-top: 28px;
            max-width: 185px;
        }

        .advantage-img {
            max-width: 61px;
            max-height: 61px;
        }
    }

    #bg-team-prize {
        background-image: url(/img/bg_semi.png), url(/img/logo-transparent.png);
        background-position: left top, -7vw 37vw;
        background-size: 100%, 818px 660px;
        background-repeat: no-repeat;
    }

    #team {
        padding: $gut * 1.3 0 $gut * 2.1 0;

        .title {
            h2 {
                color: $green;
                font-weight: 300;
            }
        }

        #member {
            width: 100%;
            position: relative;
            text-align: left;
            max-width: 300px;
            max-height: 300px;
            overflow: hidden;
            margin: auto;

            &:before {
                content: "";
                background-image: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 70%) 100%);
                position: absolute;
                left: 0;
                top: 43%;
                bottom: 0;
                right: 0;
            }

            h3,
            h4 {
                color: white;
                font-size: $h3;
                letter-spacing: 0.11;
            }

            h3 {
                font-weight: 600;
            }

            h4 {
                font-weight: 300;
            }

            .bottom-left {
                position: absolute;
                bottom: 25px;
                left: 30px;
                transition: .3s ease;

                .text {
                    opacity: 0;
                }
            }

            .membres {
                width: 100%;
            }

            .overlay {
                position: absolute;
                padding: $gut / 2;
                color: white;
                top: 300px;
                height: 300px;
                width: 300px;
                opacity: 0;
                background-color: rgba(21, 70, 91, 0.9);
                transition: .3s ease;
                overflow: hidden;
            }

            &:hover {
                .overlay {
                    opacity: 1;
                    transform: translateY(-100%);
                }

                .bottom-left {
                    opacity: 0;

                    .text {
                        opacity: 1;
                        padding-top: $gut / 4;
                    }
                }
            }
        }
    }

    #contact {
        .title {
            h2 {
                color: $green;
            }
        }

        .contact-forms {
            background-color: $light-green;

            nav {
                .nav-tabs {
                    border: none;

                    .nav-item {
                        padding-left: 0;
                        padding-right: 0;
                        max-width: 190px;

                        .nav-link {
                            text-transform: uppercase;
                            line-height: 53px;
                            color: $turquoise;
                            border-radius: 3px;
                            border: 1px solid $turquoise;
                            letter-spacing: 0.88px;
                            height: 100%;
                            padding-top: 0px;
                            padding-bottom: 0px;
                        }
                    }
                }

                form {
                    >div {
                        >div {
                            max-width: 760px;
                            margin: auto;
                        }
                    }
                    label {
                        font-size: $html-fs+px;
                        letter-spacing: 0.12px;
                        color: $turquoise;
                        font-family: abz, sans-serif;
                    }
                    input[type="text"], input[type="email"] {
                        background-color: transparent;
                        border:none;
                        border-bottom:1px solid $turquoise;
                        color: $turquoise;
                        border-radius: 0;
                    }
                    input[type="submit"] {
                        background-color: $turquoise;
                        line-height: 53px;
                        height: 55px;;
                        border:none;
                        border-radius: 3px;
                        width: $gut*3.6;
                        margin: $gut auto;
                    }
                }
            }

            #participant {
                h3 {
                    font-family: abz, sans-serif;
                    letter-spacing: 0.11px;
                    max-width: 485px;
                    text-align: center;
                    margin: auto;
                }

                .response {
                    display: none;
                }

                .anti-bot {
                    position: absolute;
                    left: -5000px;
                }
            }
        }
    }


    #prizes {
        padding: $gut * 2.1 0 $gut * 1.3 0;

        .prize {
            padding-top: $gut * 1.3;

            h3 {
                font-family: abz;
                font-size: 17px;
                letter-spacing: 0.11px;
                line-height: 34px;
                width: 100%;
                text-align: center
            }

            img {
                margin-left: auto;
                margin-right: auto;
                display: block;
            }

            .list-prizes {
                padding: $gut * 1.2 0;
            }
        }
    }

    #sponsors {
        padding: $gut * 1.3 0 $gut * 2.1 0;

    }

    #footer {
        background-color: #94e3b8;
    }
}