.jumbotron {
  background: linear-gradient(rgba(22, 46, 57, 0.3), rgba(22, 46, 57, 0.3)), url(/img/bg.jpg) no-repeat center center;
  height: 990px;
  color: white;
  margin-bottom: 0px !important;
}

.mission {
  background: linear-gradient(90deg, rgba(0, 169, 157, 1), rgba(34, 181, 115, 1));
  min-height: 300px;
}

.mission .row div {
  margin-top: 20px;
  margin-bottom: auto;
}

.mission .container {
  height: 100%;
}

.mission .row {
  height: 100%;
}

.team {
  margin-bottom: 75px;
}

.team-title {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 50px;
}

.member {
  margin-top: 10px;
}

.img-member {
  height: 200px;
  margin-top: 25px;
}

.name-member {
  font-size: 23px;
  font-weight: 400;
  color: #4e5052;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

.icon-mission {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100px;
}